<mtapp:setting
    id="filepath"
    label="<__trans phrase="FilePathLabel">"
    show_hint="0"
    hint="">
  <input type="text" class="text col-10" name="filepath" id="filepath" value="<$mt:var name="filepath"$>" />
</mtapp:setting>